@model PaginationViewModel
@{
	ViewData["Title"] = "История";
}

<div class="page-header">
	<h4>@ViewData["Title"]</h4>
</div>

<div class="page-content">
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Тип операции</th>
				<th>Элемент</th>
				<th>Дата</th>
				<th>Пользователь</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var history in (ICollection<HistoryViewModel>) Model.ModelObject)
		{
			<tr>
				<td>@history.Id</td>
				<td>@history.OperationType</td>
				<td>@history.Item</td>
				<td>@history.DateTimeIn</td>
				<td>@history.User</td>
			</tr>
		}
		</tbody>
	</table>
</div>

<page-link page-model="Model.PageObject" page-action="History"></page-link>